name: Commitizen Dry-Run

on:
  workflow_call:

jobs:
  cz-dry-run:
    name: "Dry run Commitizen bump"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: true
      - name: Create bump and changelog
        uses: commitizen-tools/commitizen-action@0.26.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          check_consistency: true
          dry_run: true
