name: Node.js ESLint

on:
  workflow_call:

# concurrency:
#   group: ci-${{ github.ref }}
#   cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Node.js LTS
        uses: actions/setup-node@v6.0.0
        with:
          node-version: lts/*
      - name: NPM Clean Install
        run: npm ci
      - name: ESLint
        run: npm run lint
