name: Python Poetry Pylint

on:
  workflow_call:
    inputs:
      python-version:
        description: "Python version to use"
        type: string
        required: false
        default: "3.x"
      src-path:
        description: "Source path for Pylint"
        type: string
        required: false
        default: "src/**/*.py"

jobs:
  python-pylint:
    runs-on: ubuntu-latest
    steps:
      - name: Check Out
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          cache: "poetry"
          python-version: "${{ inputs.python-version }}"
      - name: Install project
        run: poetry install --with dev --no-interaction
      - name: Pylint
        run: poetry run pylint "${{ inputs.src-path }}"
